.confirm-delete-container {
    border-radius: 20px;
    margin: 30px;
}

.confirm-delete-message {
    display: flex;
    justify-content: center;
    margin-top: -10px
}

.product-confirmation-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-choices {
    background-color: rgb(225, 220, 212);
    color: black;
   border-radius: 5px;
   width: 50px;
}

.product-choices:hover {
    background-color: rgb(66, 65, 65);
    color: white;
}
