.cart-form-container {
    margin: 20px;
    height: 300px;
    padding: 20px;
}

.cart-form-title {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

label {
    font-size: 20px;
}

.qty-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#quantity-input {
    height: 30px;
    border-radius: 5%;
}

.cart-save-button {
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    background-color: rgb(225, 220, 212);
    color: black;
    margin: 5px;
    margin-bottom: 15px;
}

.cart-save-button:hover {
    background-color: rgb(66, 65, 65);
    color: white
}
