.add-review-modal {
    padding: 20px;
    margin: 10px;
}
.add-review-title {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.textarea-add-review {
    width: 400px;
    height: 200px;
}

.submit-review-button {
    border: 2px solid black;
    border-radius: 10px;
    font-size: 17px;
    padding: 5px 50px 5px 50px;
    background-color: black;
    color: white;
    margin-left: 130px;
    margin-top: 10px;

}

.rating-and-submit-button {
    display: flex;
}

.rating-input {
    width: 70px;
    height: 20px;
}

.rating-text {
    font-size: 25px;
}
