.form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    gap: 20px;
    margin-top: -180px;
    font-size: 21px;
}

.errors {
    margin-top: -30px;
    margin-bottom: -15px;
    color: #d0312d;
}

.form-title-banner {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to bottom, #f2e8d6 60%, white 40%);
    padding-top: 250px;
    margin-top: 20px;
}
.form-title {
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sub-title {
    margin-top: -40px;
    font-size: 20px;
}
.product-name-container{
    padding: 2%;
    margin-top: 20px;
    border: .5px solid rgb(119, 114, 114);
}
.name-title {
    font-size: 15px;
    margin-top: -15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.name-area {
    width: 20%;

}
.name-and-input {
    display: flex;
    flex-direction: row;
}

.name-input-area {
    padding-left: 25px;
    font-size: 20px;
    margin-top: 10px;
    margin-right: -20px;
    width: 100%;
    box-sizing: border-box;

}

.name-input-area2 {
    width: 75%;
    box-sizing: border-box;
    margin-left: 17px;
}

.type-container {
    padding: 2%;
    border: .5px solid rgb(119, 114, 114);
}

.type-area {
    width: 20%;
}
.type-title {
    font-size: 15px;
    margin-top: -15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.type-options-area {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 25px;
    font-size: 20px;
    margin-top: 20px;
}
.type-and-input {
    display: flex;
    flex-direction: row;
}

.price-and-input {
    display: flex;
    flex-direction: row;
}
.price-container {
    padding: 2%;
    border: .5px solid rgb(119, 114, 114);
}
.price-area {
    width: 20%;
}
.price-input-area {
    margin-right: -35px;
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}
.price-input-area2 {
    margin-left: 20px;
    width: 75%;
    box-sizing: border-box;
}
.pricing-title {
    font-size: 15px;
    margin-top: -15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.description-container {
    padding: 2%;
    border: .5px solid rgb(119, 114, 114);
}

.description-and-input {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.description-area {
    width: 20%;
}
.description-title {
    font-size: 15px;
    margin-top: -15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.description-input-area2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;


}
.description-input-area {
    width: 75%;
    box-sizing: border-box;


}
.form-submit {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
}

.form-submit-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(245, 240, 232);
    color: black;
    height: 40px;
    width: 130px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    border-radius: 3px;

}

.image-container {
    padding: 2%;
    margin-top: 20px;
    border: .5px solid rgb(119, 114, 114);
}

.image-title {
    font-size: 15px;
    margin-top: -15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image-and-input {
    display: flex;
    flex-direction: row;
}

.image-area {
    width: 20%;
}

.image-input {
    width: 75%;
    box-sizing: border-box;
    margin-left: 17px;
}

.image-input-area {
    width: 100%;
    box-sizing: border-box;
    margin-left: 17px;
}
.form-submit-button:hover {
   background-color: white;
    color: rgb(97, 92, 92);
}


.form-submit-button:disabled:hover{
    background-color: white;
    color: black
}
.form-submit-button:disabled:hover {
    background-color: white;
    color: black
}
